input[type=password], input[type=email]{
    width: 95%;
    padding: 12px 20px;
    margin: 12px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;

}
form button {
    color: white;
    padding: 14px 20px;
    margin: 12px 0;
    border: none;
    cursor: pointer;
    width: 95%;
}
.formButton {
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 95%;
}
.formButton:hover {
   opacity: 1;
    background-color: #88bd86!important;
    color: white!important;
}
.formFit{
    max-width: 500px;
    margin: auto;
    margin-top: 4vh;
}
.formTitle{
    margin-bottom: 5vh;
    margin-top:1vh;
}
.formInnerPadding{
    padding: 1vh 2vh 8vh 2vh;
}
.loginImage{
    background-image: url("../resources/loginBean2.jpg"); 
    background-repeat: none;
    background-size: cover;
}
input:required:valid {
    border-color: palegreen;
    border: solid 1px;
    background: url(../resources/logo128x128.png);
    background-size: 20px; 
    background-repeat: no-repeat;
    background-position: 20px 20px;
  }
input:invalid {
    border-color: red;
    border: solid 3px red;
  }
input:required:focus:valid {
    background-color: white;
  }
input:focus:invalid {
    background-color: white;
  }
  input:required:invalid:focus:not(:placeholder-shown) ~ .requirements {
    max-height: 200px;
    padding: 0 30px 20px 50px;
    }
    .requirements {
        padding: 0 30px 0 50px;
        background-color:white;
        color: #999;
        max-height: 0;
        transition: 0.28s;
        overflow: hidden;
        color: red;
        font-style: italic;
      }