input[type=password], input[type=email]{
    width: 95%;
    padding: 12px 20px;
    margin: 12px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;

}
form button {
    color: white;
    padding: 14px 20px;
    margin: 12px 0;
    border: none;
    cursor: pointer;
    width: 95%;
  }
  .formButton {
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 95%;
  }
 .formButton:hover {
   opacity: 1;
    background-color: #88bd86!important;
    color: white!important;
  }
  .formFit{
    max-width: 500px;
    margin: auto;
    margin-top: 4vh;
  }
  .formTitle{
    margin-bottom: 5vh;
    margin-top:1vh;
  }
  .formInnerPadding{
    padding: 1vh 2vh 8vh 2vh;
  }
  .loginImage{
    background-image: url("../resources/loginBean2.jpg"); 
    background-repeat: none;
    background-size: cover;
  }