:root {
  --sideNavLeftMargin: 64px;
}
.homeTitle {
  height: 12vw;
  max-height: 180px;
  color: white;
  text-align: center;
  object-fit: cover;
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../resources/homeTitleImage.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top:.5vw;
}
.homeTitle h1{
  vertical-align: center;
  font-size: 4.5vw;
  font-size-adjust: inherit;
  letter-spacing: 3px;
  font-weight: 600;
  text-shadow: 3px 3px #040404;

}
.titleBars{
  background-color: #6CAD68;
  display: inline-block;
  min-width: 450px;
  width: 100%;
}
.navBar {
  padding:.3vh;
  height: 64px;
  z-index: 97;
  position: absolute;
  opacity: .99;
  top: 32px;
  background-color:#626262;
}
.spacerBar {
  padding-top: 64px;
}
.mainApp {
  overflow-y: auto;
  /* 96px is navBar top + navBar height */
  max-height: calc(100vh - 96px);
}
.sideSpacer {
  margin-left: var(--sideNavLeftMargin);
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -ms-transition: all 0.1s;
  transition: all 0.1s;
  
}

.fitBody{
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.inputField{
  text-align: left;
  word-wrap: break-word;
  vertical-align: top;
  resize: vertical;
  min-height: 150px;
}
.timeBoxes {
  display: inline-block;
}
.timeBox {
  width: 80px;
  text-align:right;
  resize: none;
  margin: 5px 10px 5px 10px;
}

.input-container {
  text-align: center;
  display: flex;
  width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 40px;
}

.icon {
  padding: 10px;
  padding-left: 15px;
  color: white;
  min-width: 40px;
  text-align: center;
}

.w3-green{
    background-color:#6CAD68!important; 
}
.w3-white{
  color: #6CAD68!important;
}

.navbaricon{
    color: white!important;
}
.searchButton{
  text-align: center;
  padding: 0px 15px 0px 15px;
  height: 40px;
}
.searchBarLayout{
  width: 100%;
}
.searchBarForm{
  float: left;
   /* width: calc(80% + var(--sideNavLeftMargin));  */
  width: 80%;
  transition: all 0.1s;
}
.navBar .searchBarForm{
  width: calc(90% - var(--sideNavLeftMargin));
}
.searchBarButton{
  float: left;
}

.icon { 
  padding: 10px; 
  min-width: 40px; 
} 
button {
  border: none;
  cursor: pointer;
  overflow: hidden;
}
button:hover {
  background-color: #88bd86!important;
  color: white!important;
  
}
/* This is the override for the carousel arrow button */
._37Q_YD174b3Wq9o-IFVdKS {
  overflow: visible!important;
}
._37Q_YD174b3Wq9o-IFVdKS:hover {
  background-color: transparent!important;
}
/* This is the override for the carousel arrow icon */
.GasrFbdQYtD26JnmJzJpj {
  border: solid #6CAD68!important;
  border-width: 0 5px 5px 0!important;
}
.backButton {
  text-align: center;
  display: flex;
  float: left;
  margin: 5px 10px 5px 5px;
  height: 49px;
  background-color: #626262; 
  color: white;
}
.backButton:hover{
  background-color: #838383!important; 
}

.homeRecipePadding{
  margin-top: 20px;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}