.homeTitle {
    height: 150px;
    color: white;
    text-align: center;
    object-fit: cover;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../resources/homeBeans.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top:10px;
}
.homeTitle h1{
    vertical-align: center;
    font-size: 50px;
    letter-spacing: 3px;
    font-weight: 600;
    text-shadow: 3px 3px #040404;

}
.titleBars{
    background-color: #149911
}
.navButton {
    background-color: #256d1b;
    color: white;
    text-decoration: none;
}
.navButton:hover{
   background-color:#149911;
}
.active {
    background-color: #149911;
}
.navBar {
    z-index: 2;
    position: absolute;
    background-color:#256d1b
}
.spacerBar {
    padding-top:35px;
}
.sideSpacer {
    margin-left:60px;
    z-index: 0;
}
.sidenav---sidenav---_2tBP{
    background: #256d1b !important;
}
.sideBar {
    z-index: 1000;
}