.homeTitle {
    height: 150px;
    color: white;
    text-align: center;
    object-fit: cover;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../resources/homeBeans.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top:10px;
}
.homeTitle h1{
    vertical-align: center;
    font-size: 50px;
    letter-spacing: 3px;
    font-weight: 600;
    text-shadow: 3px 3px #040404;

}
.titleBars{
    background-color: #149911
}
.navButton {
    background-color: #256d1b;
    color: white;
    text-decoration: none;
}
.navButton:hover{
   background-color:#149911;
}
.active {
    background-color: #149911;
}
.navBar {
    z-index: 2;
    position: absolute;
    background-color:#256d1b
}
.spacerBar {
    padding-top:45px;
}
.sideSpacer {
    padding-left:60px;
    z-index: 0;
}
.sidenav---sidenav---_2tBP{
    background: #256d1b !important;
    position: fixed !important;
}
.fitBody{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.inputField{
    text-align: left;
    word-wrap: break-word;
    vertical-align: top;
    resize: vertical;
    min-height: 150px;
}
.timeBoxes {
    display: inline-block;
}
.timeBox {
    width: 80px;
    text-align:right;
    resize: none;
    margin: 5px 10px 5px 10px;
}

.input-container {
    text-align: center;
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 40px;
  }

  .icon {
    padding: 10px;
    padding-left: 15px;
    background: #149911;
    color: white;
    min-width: 40px;
    text-align: center;
  }

  .input-field {
    width: 60%;
    padding: 5px;
    border: 2px solid white;
    outline: none;
  }
  
  .input-field:focus {
    border: 2px solid #149911;
  }

  .w3-green{
      background-color:#149911!important;
  }

  .searchPadding {
      
    padding-bottom: 20px;
  }
  .recipeCard{
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .rowPadding{
  }
