.recipePage{
   display: inline-flex;
}
.detailPadding{
    padding: 2em;
    color: black;
}
.sectionLine{
    height: 0px;
    border-bottom: solid 2px black;
    width: 90%;
}
.recipeDetailTitle{
    padding-bottom: 20px;
    padding-top: 10px;
  }
  .bigpicture{
      height: (20vh + 20vw);
      display: inline-block;
      overflow: hidden;
      padding-right: 20px;
      min-height: 200px;
  }
  .bigpicture img{
      min-height: 200px;
      
  }
  .topAlign .rightOfPicture{
      display: inline-block;
      vertical-align: bottom;
      font-size: 16px;
  }
  .deleteButtonBox{
    text-align: right;
  }
.deleteButton{
    color: white;
    padding: 10px 20px;
    margin: 12px 0;
    border: none;
    cursor: pointer;
    background-color: red;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    display: inline-block;
}
.deleteButton:hover{
    background-color: #ff0000!important;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
}