.recipePage{
    max-width:1000px;
    min-width: 450px;
    margin: auto;
}
.recipeLayout{
    display: block;
    margin: 15px;
}
.detailPadding{
    padding: 2em;
    color: black;
}
.sectionLine{
    height: 0px;
    border-bottom: solid 2px black;
    width: 90%;
}
.recipeDetailTitle{
    padding-bottom: 20px;
    padding-top: 10px;
  }
  .bigpicture{
      width: 60%;
      display: inline-block;
      overflow: hidden;
      padding-right: 20px;
      min-width: 300px;
      min-height: 300px;
  }
  .bigpicture img{
      width: 100%;
      
  }
  .topAlign .rightOfPicture{
      display: inline-block;
      vertical-align: bottom;
      font-size: 16px;
  }
  .deleteButtonBox{
    text-align: right;
  }
.deleteButton{
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: red;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    float: right;
}
.deleteButton:hover{
    background-color: #ff0000!important;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
}